.cards_item_location {
    font-size: 13px;
    color: black;
    
}

.cards_item_text {
    color: black;
    font-weight: 600;
    font-style: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}