.col-2 img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.card-h {
    width: 100px;
    height: auto;
    padding-left: 0%;
    margin: 0%;
  }


* {
   box-sizing: border-box;
   /* overflow-x: hidden; */
}


.mongopark-wrapper {
   margin-bottom: -63rem;
  
}

.mongopark-wrapper img {
  width: 100%;
  height: 50%;
}


.mongo-house h1 {
  font-family: 'Poppins';
  margin-top: 25px;
  color: #6495ED;
  font-style: initial;
  font-weight: bold;


}

.location {
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  font-family: 'Poppins';
  color: rgba(0, 0, 0, 1);

}

.location-d {
  font-family: 'Poppins';
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  
}

.detail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
}

.detail-d {
  font-family: 'Poppins';
  line-height: 24px;
  width: 1000px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;

}

.mongo-house p {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
 
}

.info-h4 {
  font-family: 'Poppins';
  margin-top: 40px;
  width: 1100px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  
}

.info-p {
  font-family: 'Poppins';
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  width: 1000px;
}

.ese {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  margin-left: 2px;
  color: rgba(0, 0, 0, 1);
  margin-top: 80px;

}

.ese-1 {
  width: 56px;
  height: 56px;
  color: rgba(196, 196, 196, 1);
  margin-right: 15px;
  border-radius: 50%;
}

.ese-p {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: -65px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}


.rate-left {
  margin-left: 70px;
  margin-top: -10px;
  
}


 