.cards {
  padding: 3.5rem;
  background: #fff;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.heading_trend {
  text-align: left;
  margin-right: 850px;
  margin-top: 70px;
  margin-bottom: 5px;
  color: rgba(47, 128, 237, 1);
  font-size: 32px;
  font-family: "Poppins";
  font-weight: 600;
  padding-left: 70px;
}

.heading_trend-1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: -30px;
  color: rgba(47, 128, 237, 1);
  font-size: 32px;
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;

}

.heading_trend-2 {
  text-align: center;
  margin-right: -30px;
  margin-top: 70px;
  margin-bottom: 5px;
  color: rgba(47, 128, 237, 1);
  font-size: 32px;
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
}

li {
  list-style: none;
  margin: 14px;
}

.cards__item__text {
  color: black;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .col-4 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.col-4 {
  padding: auto;
  font-size: 10px;
}


.star-img-card2 {
 height: 25px;
 margin-left: 10px;
 margin-bottom: 20px;
}